h1
{
  color: #ff0000;
}
.header
{
  background-color: #ff00ff;
  display: flex;
  justify-content: space-between;
}

.site-description
{
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.grid
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer
{
  display: flex;
  justify-content: flex-end;
}


{
  text-align: center;
}